# Import libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [2]:
titanic = pd.read_csv("Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [3]:
df=pd.get_dummies(titanic)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

# Apriori Algorithm

In [4]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Class_3rd, Gender_Male)
12  0.284871                             (Class_3rd, Age_Adult)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Gender_Female, Age_Adult)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Survived_No, Gender_Male)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Class_3rd, Age_Adult, Gender_Male)
25  0.191731              (Survived_No, Class_3rd, Gender_Male)
26  0.216265                (Survived_No, Class_3rd, Age_Adult)
27  0.391640               (Class_Crew, Age_Adult, Gender_Male)
28  0.304407             (Survived_No, Class_Crew, Gender_Male)
29  0.305770               (Survived_No, Class_Crew, Age_Adult)
30  0.143571           (Survived_Yes, Gender_Female, Age_Adult)
31  0.603816              (Survived_No, Age_Adult, Gender_Male)
32  0.153567             (Survived_Yes, Age_Adult, Gender_Male)
33  0.175829   (Survived_No, Class_3rd, Age_Adult, Gender_Male)
34  0.304407  (Survived_No, Class_Crew, Age_Adult, Gender_Male)

In [5]:
rules = association_rules(frequent_itemsets)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
1,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,-0.004492,0.588085
2,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
3,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
4,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
5,(Gender_Female),(Age_Adult),0.213539,0.950477,0.193094,0.904255,0.951370,-0.009870,0.517240
6,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
7,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
8,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
9,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,-0.009900,0.617734
10,"(Class_3rd, Gender_Male)",(Age_Adult),0.231713,0.950477,0.209905,0.905882,0.953082,-0.010333,0.526181
11,"(Class_3rd, Gender_Male)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
12,"(Survived_No, Class_3rd)",(Age_Adult),0.239891,0.950477,0.216265,0.901515,0.948487,-0.011746,0.502848
13,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
14,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
15,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
16,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
17,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
18,"(Survived_Yes, Gender_Female)",(Age_Adult),0.156293,0.950477,0.143571,0.918605,0.966467,-0.004981,0.608425
19,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
20,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
21,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
22,"(Survived_Yes, Gender_Male)",(Age_Adult),0.166742,0.950477,0.153567,0.920981,0.968967,-0.004918,0.626721
23,"(Survived_No, Class_3rd, Age_Adult)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
24,"(Survived_No, Class_3rd, Gender_Male)",(Age_Adult),0.191731,0.950477,0.175829,0.917062,0.964844,-0.006407,0.597105
25,"(Class_3rd, Age_Adult, Gender_Male)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
26,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
27,"(Survived_No, Class_Crew, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
28,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [6]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
28,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
15,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
26,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
16,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
13,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
3,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
25,"(Class_3rd, Age_Adult, Gender_Male)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
11,"(Class_3rd, Gender_Male)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
21,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
19,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
7,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
27,"(Survived_No, Class_Crew, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
17,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
14,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
4,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
23,"(Survived_No, Class_3rd, Age_Adult)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
20,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
8,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
6,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441

In [7]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
3,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
4,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
6,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
7,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
8,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
11,"(Class_3rd, Gender_Male)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
13,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
14,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
15,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
16,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
17,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
19,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
20,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
21,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
23,"(Survived_No, Class_3rd, Age_Adult)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,0.005745,1.142075
25,"(Class_3rd, Age_Adult, Gender_Male)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
26,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
27,"(Survived_No, Class_Crew, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
28,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079